%table
  %tbody
    %th
      = form_for @trip do |f|
        - @trip.errors.full_messages.each do |message|
          %tr= message
        %tr
          %td= f.label :name, "Trip Name"
        %tr
          %td= f.text_field :name
        %tr
          %td= link_to "Back", trips_path
          %td= f.submit
