<h1>Edit Trip</h1>
<hr>
<p>Edit your trip below and save</p>
<%= form_for @trip do |f| %>
  <table>
    <tbody>
      <tr>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :name, "Trip Name" %>
        </td>
      </tr>
      <br />
      <br />
      <tr>
        <td>
          <%= link_to "Cancel", trips_path %>
        </td>
        <td>
          <%= f.submit "Save Trip!" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
