<div class="hero-unit-welcome">
  <h1>Edit Trip</h1>
  <hr>
  <p class="message">Edit your trip below and save</p>
  <%= form_for @trip do |f| %>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputTrip">
          <%= f.label :name, "Trip Name", class: "trip-label" %>
        </label>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group clearfix">
          <div class="form">
            <%= link_to "Cancel", trips_path, class: "btn cancel" %>
          </div>
          <div class="form">
            <%= f.submit "Update Trip", class: "btn btn-primary submit" %>
          </div>
      </div>
    </form>
  <% end %>
</div>