%h1 Trips
%hr
%table
  %tbody
    - @trips.each do |trip|
      %tr
        %td= link_to trip.name, trip_path(trip)
        %td= link_to "Edit", edit_trip_path(trip), id: "edit_trip_#{trip.id}"
        %td= link_to "Delete", trip, id: "delete_trip_#{trip.id}", :method => :delete
- if @trips.empty?
  %em There are no trips at this time.
%br/
%br/
= link_to "New Trip", new_trip_path
%br/
%br/
= link_to "Home", :root
