<h1>Create a Trip</h1>
<hr>
<br />
<br />
<%= form_for @trip do |f| %>
  <table>
    <tbody>
      <tr>
        <td>
          <%= f.label :name, "Trip Name" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <br />
      <br />
      <tr>
        <td>
          <%= link_to "Cancel", trips_path %>
        </td>
        <td>
          <%= f.submit "Save Trip!" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>