<h1>Create a Trip</h1>
<hr>
<%= form_for @trip  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <br />
  <br />
  <h2>Set your Budgets</h2>
  <hr>
<!-- Choose A Category  -->
<!-- Dropdown box -->
<!-- Amount -->
<!-- 0.00 box -->

  <br />
  <br />
  <br />
<!-- Cancel button -->
  <%= link_to "Cancel", @trip %>
<!-- Save button -->
  <%= f.submit "Save Trip!" %>
  <% end %>
