<div class="hero-unit-budget">
  <%- if flash[:notice] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">x</button><strong><%= notice %></strong>
    </div>
  <%- end %>
  <%- if flash[:alert] %>
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">x</button><strong><%= alert %></strong>
    </div>
  <%- end %>
  <h1 class="trip_name"><%= @trip.name %></h1>
  <h3 class="grand_total">Total Budget: $<%= @trip.budgets.sum(:total) %></h3>
  <br />
</div><!-- end .hero-unit -->
<div class="container-fluid">
  <div class="content">
    <!-- <div class="container budget-total-container"></div> -->
    <br />
    <br />

    <div class="container-fluid budget-container">

      <div class="row-fluid budget-row">
        <%- @trip.budgets[0..3].each do |budget| %>
          <div class="span3 budget-card">
            <table id="budget_category_<%= budget.name %>" class="table budget-table">
              <thead class="info">
                <tr>
                  <th class="table-head"><%= link_to budget.name, edit_trip_budget_path(budget,
                   :trip_id => @trip.id) %> Budget:</th>
                  <th class="table-head">$<%= budget.total %></th>
                </tr>
              </thead>
              <tbody>
                <%- budget.expenses.each do |expense| %>
                  <tr>
                    <td><%= expense.name %></td>
                    <td class="budget-expense">-<%= expense.amount %></td>
                    <td><%= link_to "Delete", [@trip, budget, expense], id: "delete_trip_budget_expense_#{expense.id}", :method => :delete, class: "btn-small btn-danger" %></td>
                  </tr>
                <%- end %>
                <%- if budget.total > 0 %>
                  <%- if budget.total > budget.expenses.sum(:amount) %>
                    <tr class="success">
                  <%- else %>
                    <tr class="error">
                  <%- end %>
                      <td>Balance:</td>
                      <td class="budget_balance">$<%= budget.total - budget.expenses.sum(:amount) %></td>
                    </tr>
                    <tr class="expense_button">
                      <td><%= link_to "Add Expense", new_trip_budget_expense_path( @trip, budget ), class: "btn-small btn-primary" %></td>
                    </tr>
                <%- else %>
                  <tr>
                    <td class="budget_message">Click <%= budget.name %> to add a budget</td>
                  </tr>
                <%- end %>
              </tbody>
            </table>
          </div><!-- end span3 -->
        <%- end %>
      </div><!-- end row -->


      <div class="row-fluid budget-row">
        <%- @trip.budgets[4..6].each do |budget| %>
          <div class="span3 budget-card">
            <table id="budget_category_<%= budget.name %>" class="table budget-table">
              <thead class="table-head">
                <tr>
                  <th><%= link_to budget.name, edit_trip_budget_path(budget,
                   :trip_id => @trip.id) %> Budget:</th>
                  <th>$<%= budget.total %></th>
                </tr>
              </thead>
              <tbody>
                <%- budget.expenses.each do |expense| %>
                  <tr>
                    <td><%= expense.name %></td>
                    <td class="budget-expense">-<%= expense.amount %></td>
                    <td><%= link_to "Delete", [@trip, budget, expense], id: "delete_trip_budget_expense_#{expense.id}", :method => :delete, class: "btn-small btn-danger" %></td>
                  </tr>
                <%- end %>
                <%- if budget.total > 0 %>
                  <%- if budget.total > budget.expenses.sum(:amount) %>
                    <tr class="success">
                  <%- else %>
                    <tr class="error">
                  <%- end %>
                      <td>Balance:</td>
                      <td class="budget_balance">$<%= budget.total - budget.expenses.sum(:amount) %></td>
                    </tr>
                    <tr class="expense_button">
                      <td><%= link_to "Add Expense", new_trip_budget_expense_path( @trip, budget ), class: "btn-small btn-primary" %></td>
                    </tr>
                <%- else %>
                  <tr>
                    <td class="budget_message">Click <%= budget.name %> to add a budget</td>
                  </tr>
                <%- end %>
              </tbody>
            </table>
          </div><!-- end span3 -->
        <%- end %>
      </div>
    <!-- </div> -->
    <!-- </div> --><!-- end .budget-container -->
    <div class="footer">
      <div>
        <%= link_to "Back", trips_path, class: "btn" %>
        |
        <%= link_to "Home", :root, class: "btn" %>
      </div><!-- end .links -->
    </div><!-- end .footer -->
  </div><!-- end .content -->
</div><!-- end .container -->