<div class="hero-unit-welcome">
  <h1><%= @budget.name %> Expenses</h1>
  <hr>
  <!-- category icon goes here -->
  <%= form_for [@trip, @budget, @expense] do |f| %>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputExpenseName">
          <%= f.label :name, "Expense Name" %>
        </label>
        <div class="controls expense_name">
          <%= f.text_field :name %>
        </div>
        <label class="control-label" for="inputExpenseAmount">
          <%= f.label :amount, "Expense Amount" %>
        </label>
        <div class="controls input-prepend input-append expense_amount">
          <span class="add-on">$</span>
          <%= f.text_field :amount, class: "span2" %>
          <span class="add-on">.00</span>
        </div>
      </div><!-- end .control-group -->
      <div class="control-group clearfix">
        <div class="form">
          <%= link_to "Cancel", :back, class: "btn cancel" %>
        </div>
        <div class="form">
          <%= f.submit "Save", class: "btn btn-primary submit" %>
        </div>
      </div><!-- end .control-group -->
    </form>
  <% end %>
</div><!-- end .hero-unit -->
