<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset= "utf-8">
    <meta content= "width=device-width, initial-scale=1.0", name= "viewport">
    <title>Trip Budget</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if user_signed_in? %>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <div class="user_links">
              <%= link_to "Settings", edit_user_registration_path %>
              |
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              <div class="nav-collapse collapse">
                <p class="navbar-text pull right">Logged in <%= current_user.email %></p>
              </div>
            </div><!-- end of user_links -->
          </div>
        </div>
      </div>
    <% end %>
    <div id="main" role= "main">
      <div class="container-fluid">
        <div class="content">
          <div class="row">
            <div class="span12">


              <%= yield %>

            </div><!-- end of .span12 -->
          </div><!-- end of .row -->
          <footer>
          </footer>
        </div><!-- end of .content -->
      </div><!-- end of .container -->
    </div><!-- end of #main -->
  </body>
</html>