!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title TripBudget
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    %header.navbar
      %nav.navbar-inner
        .container
          - if user_signed_in?
            = link_to "Settings", edit_user_registration_path
            |
            = link_to "Sign Out", destroy_user_session_path, method: :delete
            %p= current_user.email
          - else
            = link_to "Sign Up", new_user_registration_path
            |
            = link_to "Sign In", new_user_session_path
            %br/
            %br/
            %p Please sign in
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              - if flash[:notice]
                %li.notice= notice
              - if flash[:alert]
                %li.alert= alert
              = yield
          %footer
      / ! end of .container
    / ! end of #main
